html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #F7F6C5;
    overflow: hidden;
}

strong {
    color: #1B998B;
}

/* https://codepen.io/P1N2O/pen/pyBNzX */
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}   
}

p {
    font-family: 'Josefin Sans', sans-serif;
    color: white;
    font-size: 1.25em;
    text-align: center;
    line-height: 2ch;
}

.dotPointList {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 2ch;
    color: white;
    font-size: 1.25em;
    text-align: left;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: inherit;
}

nav {
    width: 100%;
    background-color: #F7F6C5; 
    z-index: 0;
	position: fixed;
    top: 0;                                    
}

nav a {
    float: left;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;

    text-align: center;
    color: white;

    margin: 0;
    padding: 0;
    text-decoration: none;
}

.dropDown {
    float: right;
    overflow: hidden;
}

.dropDown .dropDownButton {
    font-size: 1.5rem;
    border: 5px;
    outline: none;
    color: white;
    padding: 2px 15px 0px 0px;

    margin: 0;
}

.dropDownContent {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 1;
    background-color: transparent;
    width: 60px;
}

.dropDownContent a {
    
    float: left;
    color: black;
    padding: 0px 0px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropDownContent a:hover {
    background-color: transparent;
}

.dropDown:hover .dropDownContent {
    display: block;
}


.mainPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    justify-content: flex-start;
    /* box-sizing: content-box; */
    gap: 2em;
    height: 100vh;

    z-index: 2;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.infoContainer {
    background-color: #402E2A;

    padding: 25px;
    margin-top: 1rem;
    border-radius: 2.5rem;

    width: 70%;
    max-width: 1000px;
    height: fit-content;

}

.heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3em;
    text-align: center;

    /* https://www.youtube.com/watch?v=Xc6G3oV24yE @ 7:43 */
    background: linear-gradient(-45deg, #1B998B, #2ED1B1, #8FC9BD);
	background-size: 400% 400%;
	animation: gradient 2s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.circleContainer {
    margin-top: 2.5em;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40%;
    aspect-ratio: 1;
}

.outerCircle {
    width: 60%;
    min-width: 350px;

    /* Ensures that the width and height are equivalent in px, while allowing
    width to be a % quantity */
    aspect-ratio: 1;
    
    border-radius: 50%;
    border: 2px dotted gray;
    position: relative;
} 

.innerCircle-a {
    width: 40%;
    aspect-ratio: 1;
    border-radius: 50%;
    /* border: 2px solid #2B2D42; */
    position: absolute;
    left: 30%;
    top: -20%;

    background-image: url('images/1.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.innerCircle-b {
    width: 40%;
    aspect-ratio: 1;
    border-radius: 50%;
    /* border: 2px solid #2B2D42; */
    position: absolute;
    left: 30%;
    top: 80%;

    background-image: url('images/3a.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.innerCircle-c {
    width: 40%;
    aspect-ratio: 1;
    border-radius: 50%;
    /* border: 2px solid #2B2D42; */
    position: absolute;
    left: 70%;
    top: 7.5%;

    background-image: url('images/2a.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.innerCircle-d {
    width: 40%;
    aspect-ratio: 1;
    border-radius: 50%;
    /* border: 2px solid #2B2D42; */
    position: absolute;
    left: 70%;
    top: 52.5%;

    background-image: url('images/5.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.innerCircle-e {
    width: 40%;
    aspect-ratio: 1;
    border-radius: 50%;
    /* border: 2px solid #2B2D42; */
    position: absolute;
    left: -10%;
    top: 52.5%;

    background-image: url('images/4.jpeg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.innerCircle-f {
    width: 40%;
    aspect-ratio: 1;
    border-radius: 50%;
    /* border: 2px solid #2B2D42; */
    position: absolute;
    left: -10%;
    top: 7.5%;
    

    background-image: url('images/6.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.otherPages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
    align-items: center;
}

.infoPage {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;

}

.upButton {
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    color: #398274;
    font-size: 2rem;
    text-align: center;
    margin: auto;

    z-index: 5;
}

.upButton a:link {
    color: #398274;
}

.upButton a:visited {
    color: #398274;
}

.downButton {
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: white;
    color: #398274;
    font-size: 2rem;
    text-align: center;
    margin: auto;

    z-index: 5;
}

.downButton a:link {
    color: #398274;
}

.downButton a:visited {
    color: #398274;
}

.embeddedVid {
    display: block;
    margin: auto;
}

.embeddedImg {
    display: block;
    margin: auto;
    aspect-ratio: 4/3;
}

.row-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    margin: auto;
    gap: 30px;
}

.caption {
    writing-mode: vertical-rl;
    text-orientation: mixed;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.0em;
    color: white;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: right;
    text-align: center;

    width: 100%;
    overflow: hidden;
}

.footer ul{
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
}

.footer a {
    float: right;
    text-align: center;

    display: block;
    color: white;

    padding: 10px 5px;
    text-decoration: none;
}

.icons {
    height: 32px;
    width: 32px;

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.twt {
    background-image: url('images/twitter.png'); 
}

.git {
    background-image: url('images/github.png'); 
}

.yt {
    background-image: url('images/youtube.png'); 
}

.lkdn {
    background-image: url('images/linkedin.png'); 
}

.sptfy {
    background-image: url('images/spotify.png'); 
}

.insta {
    background-image: url('images/insta.png'); 
}

.moodContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2em;

    margin-top: 1em;
}

.mood {
    width: 33.33%;
    padding: 100px 0px;
    text-align: center;
    border-radius: 15%;
    border: 5px solid #F7F6C5;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 200%;
    
    /* https://www.youtube.com/watch?v=Xc6G3oV24yE @ 7:43 */
    background: linear-gradient(-45deg, #DB9065, #F1C493, #F7F6C5);
	background-size: 100% 100%;
	animation: gradient 2s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.silly:hover {  
    background: none;
    background-image: url('images/silly.jpg');
    animation: none;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.happy:hover {
    background: none;
    background-image: url('images/happy.jpg');
    animation: none;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.swag:hover {
    background: none;
    background-image: url('images/swag.jpg');
    animation: none;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.gamesContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1em;

    margin-top: 1em;
}

.game {
    width: 100%;
    padding: 30px 0px;
    text-align: center;
    border: 5px solid #F7F6C5;

    font-family: 'Josefin Sans', sans-serif;
    font-size: 200%;
    
    /* https://www.youtube.com/watch?v=Xc6G3oV24yE @ 7:43 */
    background: linear-gradient(-45deg, #DB9065, #F1C493, #F7F6C5);
	background-size: 100% 100%;
	animation: gradient 2s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mc:hover {
    background: none;
    background-image: url('images/minecraft.png');
    animation: none;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-text-fill-color: bisque;
}

.lol:hover {
    background: none;
    background-image: url('images/league.png');
    animation: none;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-text-fill-color: bisque;
}

.pkmn:hover {
    background: none;
    background-image: url('images/pokemon.jpg');
    animation: none;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-text-fill-color: bisque;
}

.coc:hover {
    background: none;
    background-image: url('images/coc.png');
    animation: none;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-text-fill-color: bisque;
}

.tft:hover {
    background: none;
    background-image: url('images/tft.jpg');
    animation: none;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    -webkit-text-fill-color: bisque;
}

.firstContainer, .secondContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 2em;

    margin-top: 1em;
}

.hobby {
    width: 33.33%;
    padding: 120px 0px;
    text-align: center;
    border-radius: 15%;
    border: 5px solid #F7F6C5;
}

.anime1 {
    background-image: url('images/mob.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.manga1 {
    background-image: url('images/onepiece.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.kdrama1 {
    background-image: url('images/alc.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}







